// bower:scss
// endbower

body {
  background: linear-gradient(180deg, #ED4264 10%, #FFEDBC 90%); // <3 UIGradients.com
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: #333;
}

.mdl-layout__content .mdl-grid {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.mdl-layout .mdl-layout__content {
  padding-top: 230px;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.mdl-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 150px;

  h3 {
    font-size: 125%;
    margin: 0;

    a { text-decoration: none; }
  }

}

.mdl-card__title {
  padding: 16px;
  flex-grow: 1;
}

.mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
  cursor: pointer;
}

.mdl-card__media a,
.mdl-card__title a {
  color: inherit;
}

.mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 32px;
  display: flex;
  align-items: center;
}

.mdl-card__supporting-text strong {
  font-weight: 400;
}

.mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 32px;
}

.mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px;
}

.meta {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
}

.mdl-card .meta.meta--fill {
  justify-content: space-between;
}

.meta > *:first-child {
  margin-right: 16px;
}

.meta > * {
  display: flex;
  flex-direction: column;
}
.is-small-screen > .mdl-card.info {
  order: 0;
}
.is-small-screen > .mdl-card.add-subreddit {
  order: -1;
}

.add-subreddit .mdl-card__media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-subreddit > button {
  position: absolute;
  top: 0;
  right: 28px;
  transform: translate(0px, -28px);
}

.add-subreddit .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.add-subreddit .mdl-card__media img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}

.add-subreddit .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit;
}

.section-spacer {
  flex-grow: 1;
}

.add-subreddit {
  overflow: visible;
  z-index: 10;
}

.pushbullet-subscribe-widget {
  text-align: center;
}

/* Fixes for IE 10 */
.mdl-grid {
  display: flex !important;
}

.fork {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.loading {
  min-height: 50px;

  .loading-bar {
    width: 100%;
  }
}